

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="/add-flight" class="nav-link" routerLinkActive="active">add flight</a>
      </li>
      <li class="nav-item">
          <a routerLink="/update-flight" class="nav-link" routerLinkActive="active">update flight</a>
      </li>
    
    <li class="nav-item">
      <a routerLink="/list-flights" class="nav-link" routerLinkActive="active"   >list flight</a>
  </li>
  <li class="nav-item">
    <a routerLink="/search-flight" class="nav-link" routerLinkActive="active"   >search flight</a>
</li>
    </ul>
  </nav>


  <div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>


